<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <welcome-file-list>
        <welcome-file>welcome.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>com.devopnhattien.onlinequiz.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>com.devopnhattien.onlinequiz.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>com.devopnhattien.onlinequiz.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHistory</servlet-name>
        <servlet-class>com.devopnhattien.onlinequiz.SearchHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>com.devopnhattien.onlinequiz.Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeQuiz</servlet-name>
        <servlet-class>com.devopnhattien.onlinequiz.MakeQuiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinishQuiz</servlet-name>
        <servlet-class>com.devopnhattien.onlinequiz.FinishQuiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>com.devopnhattien.onlinequiz.Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePage</servlet-name>
        <servlet-class>com.devopnhattien.onlinequiz.UpdatePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>History</servlet-name>
        <servlet-class>com.devopnhattien.onlinequiz.History</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuestion</servlet-name>
        <servlet-class>com.devopnhattien.onlinequiz.CreateQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageCreateQuestion</servlet-name>
        <servlet-class>com.devopnhattien.onlinequiz.PageCreateQuestion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHistory</servlet-name>
        <url-pattern>/SearchHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeQuiz</servlet-name>
        <url-pattern>/MakeQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinishQuiz</servlet-name>
        <url-pattern>/FinishQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePage</servlet-name>
        <url-pattern>/UpdatePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>History</servlet-name>
        <url-pattern>/History</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuestion</servlet-name>
        <url-pattern>/CreateQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageCreateQuestion</servlet-name>
        <url-pattern>/PageCreateQuestion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.devopnhattien.onlinequiz.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.devopnhattien.onlinequiz.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>com.devopnhattien.onlinequiz.SignUp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/QuizOnline</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
</web-app>
